.contact-inner-wrapper {
    padding: 30px 20px;
    border-radius: 15px;
  
    background:linear-gradient(#007bff,#bdeecf);
    /* background:linear-gradient(#007bff,#a0ff9e); */
    gap: 15px;
  }
  .contact-inner-wrapper > div {
    width: 48%;
  }
  .contact-title {
    font-size: 26px;
    font-weight: 500;
    line-height: 35px;
    text-align: left;
  }
  .contact-inner-wrapper form .form-control {
    background-color: #ebebff;
    /* background:linear-gradient(#f6fbff,#c2bbbb); */
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
  }
  .contact-inner-wrapper ul {
    list-style: none;
  }
  .contact-inner-wrapper address,
  .contact-inner-wrapper a,
  .contact-inner-wrapper p {
    color: #ffffff;
  }
  

  .login-button {
    background-color: #fff;
    color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    text-shadow: 1px 1px #007bff;
    transition: all 0.3s ease-in-out;
    
  }
  
  .login-button:hover {
    background-color: #212121;
    text-shadow: none;
    border-radius: 10px 20px 10px 20px;
  }

  .imageClass{
    width: 1250px;
    height: 400px;
  }
